* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app__view {
  display: flex;
}

.app__main {
  flex-grow: 8;
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
}